terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
infra/.terraform.lock.hcl
infra/.terraform.tfstate.lock.info
infra/.terraform/
infra/terraform.tfstate.backup
infra/terraform.tfstate
deploy/ansible/host
deploy/ansible/kubernetes/files/config
infra/errored.tfstate
*.tfstate
application/app/app/__pycache__/__init__.cpython-39.pyc
deploy/helm/application/ca.pem
deploy/ansible/kubernetes/files/ca.pem
